<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Logout</a>
              <a href="{% url 'create_category' %}">Categories</a>
              <a href="{% url 'create_account' %}">Accounts</a>
              <a href="{% url 'create_receipt' %}">Create Receipt</a>
            {% else %}
              <a href="{% url 'signup' %}">Sign up</a>
              <a href="{% url 'login' %}">Login</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
